html {
  background: #000;
  color: #fff;
  font-family: arial;
  padding-left: 32px;
}

#app {
  margin: 64px auto;
  width: 640px;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
}
li {
  margin-bottom: 16px;
}

a {
  color: white;
}

.code {
  font-family: monospace;
  font-size: 1.1rem
}
